<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="SistemaDeVentas1.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    
    <script>
        window.downloadFile = (base64Data, fileName) => {
            const link = document.createElement('a');
            link.download = fileName;
            link.href = 'data:application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;base64,' + base64Data;
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        };</script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
</body>

</html>
